

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/back5.jpeg'); /* Specify the URL of your background image */
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* Adjust the opacity as needed */
    z-index: -2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
    background: #8abbe4;
}

/* Link */
.link {
    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuisce uniformemente gli spazi tra i contenitori */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /*opacity: 0.2;*/
    padding: 10px 5%;
    background: rgb(56, 126, 218);
    border-bottom: solid;

}

.header:hover{
    opacity: 1;
    transition: 0.5s;
}

.logo-container {
    flex: 1; /* Flessibile */
}

.navbar-container {
    flex: 2; /* Flessibile */
}

.login-container {
    flex: 1; /* Flessibile */
    text-align: right; /* Allinea il contenuto a destra */
}

.login {
    margin-right: 20px; /* Aggiunge margine a destra per separare dal bordo della finestra */
}

.header img {
    /*opacity: 0;
    animation: slideRight 1.1s ease forwards;*/
    margin-right: 15%;
}

.login {
    text-align: center;
    margin-left: auto;
    /*margin-right: 5%;*/
}

.login .profilo {
    color: #000000;
    margin-left: 20px;
    font-style: oblique;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.login .log {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #0011ff;
    background-color: #f12424;
    border: solid;
}

.login .log:hover {
    background-color: #0011ff; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #ffffff; /* Cambia il colore del testo al passaggio del mouse */
}

.login .logout {
    margin-left: 20px;
    text-decoration: none;
    color: #ff0000;
    font-size: 0.9rem;
}


.navbar ul {
    list-style: none;
    background: transparent;
    margin-left: auto;
    margin-right: 5%;
    display: flex; /* Utilizziamo Flexbox per allineare gli elementi */
}

.navbar ul li {
    margin-right: 20px; /* Aggiungiamo uno spazio tra le opzioni */
}

.navbar ul li:last-child {
    margin-right: 0; /* Rimuoviamo lo spazio dall'ultimo elemento */
}

.navbar ul li a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    transition: .3s;
    font-weight: bold;
    display: inline-block;
    padding: 10px; /* Aggiungiamo spazio intorno al testo */
    /*opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.15s * var(--i));*/
}

.navbar ul li a.active,
.navbar ul li a:hover {
    color: #000a97;
}

.navbar ul li ul.dropdown li {
    display: block;
    margin-top: 20px;
}

.navbar ul li ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul li ul.dropdown {
    width: 100%;
    background: transparent;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    z-index: 999;
    display: none;
}

.navbar ul li a:hover {
    background: transparent;
}

.navbar ul li:hover ul.dropdown {
    display: block;
}



.navbar ul li a.active,
.navbar ul li a:hover {
    color: #000a97;
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;        
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-170px);
        opacity: 0;        
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.link{
    text-decoration: none;
    color:#000000;
}

.header:hover{
    opacity: 1;
    transition: 0.8s;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 0 0px;
}
.quote-container {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
   align-items: center;
}
.quote {
    background-color: #a46565;
    border-radius: 15px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    z-index: 1;
    flex: 1;
    margin-left: 20px;
    animation: fadeIn 0.5s ease;
    overflow: hidden; /* Nasconde il contenuto che esce dal box */
}

.quote:before {
    content: "";
    position: absolute;
    bottom: 0; /* Posiziona l'elemento alla base del contenitore */
    left: -20px; /* Posiziona l'elemento leggermente fuori dal contenitore */
    width: 40px; /* Larghezza del triangolo */
    height: 40px; /* Altezza del triangolo */
    background-color: #a46565;
    transform: translateY(50%) rotate(-45deg); /* Ruota il triangolo */
    z-index: -1;
}
.quote-container img {
    border-radius: 10%;
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 50;
}

.quote .content {
    margin-left: 10px;
}
.quote .content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #000000;
}
.quote .content p {
    font-style: italic;
    color: #000000;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title{
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
}

.footer{
    background:#000000;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-style: oblique;
}

.copy{
    position: relative;
    top: 20px;
    color: white;
}