
body {
    font-family: Arial, sans-serif;
    background: #8abbe4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-container {
    margin-top: 20px;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input[type="file"] {
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.navigation-links {
    margin-top: 20px;
    
}

.navigation-links a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation-links a:hover {
    color: #0056b3;
}
