body {
    font-family: Arial, sans-serif;
    background: #8abbe4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p{
    font-weight: bold;
    text-align: center;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

.action-links a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.add-post-link {
    text-align: center;
    margin-top: 20px;
}

.add-post-link a {
    color: #007bff;
    text-decoration: none;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.message a {
    color: #007bff;
    text-decoration: none;
}

.alert-success {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffbebe;
    color: #721c24;
    border: 1px solid #ff7d7d;
}

.navigation-links {
    margin-top: 20px;
    text-align: center;
}

.navigation-links a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation-links a:hover {
    color: #0056b3;
}

